<%- include('../partials/header')%>
<h1> Grocery List</h1>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Estimation</th>
        </tr>
    </thead>
    <tbody>
        <% groceries.forEach(function(g){ %>
            <td><%= g.item %></td>
            <td><%= g.category %></td>
            <td><%= g.money %></td>
        <% }); %>
    </tbody>
</table> 
<a href="/lists/new">add new item</a>
<%- include('../partials/footer')%>